body{
    
    background-color: rgba(6, 252, 149, 0.89);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: rgb(0, 0, 0);
}
.reduceFila{
    color: rgba(0, 0, 0, 0.884);
    background-color: rgb(238, 12, 219);
    
}
.reduceColumna{
    color: rgba(0, 0, 0, 0.884);
    background-color: rgb(238, 12, 219);

}
.añadeColumna{
    color: rgba(7, 7, 7, 0.911);
    background-color: rgba(12, 193, 238, 0.87)
}
.añadeFila{
    color: rgba(7, 7, 7, 0.911);
    background-color: rgba(12, 193, 238, 0.87)
}

